{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" href="{% static "img/favicon.png" %}">
    <link rel="stylesheet" href={% static "css/semantic.min.css" %}>
    <link rel="stylesheet" href={% static "css/custom.css" %}>
</head>
<body>

<div class="ui middle aligned center aligned grid container">
    <div class="five wide column">
        <h2 class="ui image header">
            <img src="{% static "img/logo.png" %}" class="image">
            <div class="content">
                Log-in to your account
            </div>
        </h2>

        <form class="ui large form" method="post">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}
            <div class="ui stacked segment">

                {{ login_form.as_p }}
                <input type="submit" class="ui fluid black large submit button" value="Login">
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
            New to us? <a href="/signup/" id="greya">Sign Up</a>
        </div>
    </div>
</div>

<script src={% static "js/jquery-3.3.1.min.js" %}></script>
<script src={% static "js/semantic.min.js" %}></script>
<script src={% static "js/custom.js" %}></script>
</body>
</html>