{% extends 'base.html' %}
{% load static %}

{% block title %}
    Change your password
{% endblock %}

{% block content %}
    <div class="ui grid container centered">
        <div class="six wide column">
            <a href="/" id="greya">
                <h2 class="ui image header">
                    <img src="{% static "img/logo.png" %}" class="image">
                    <div class="content">
                        Change your password
                    </div>
                </h2>
            </a>

            <form class="ui large form" method="post">

                {% csrf_token %}
                <div class="ui stacked segment">

                    {{ form.as_p }}
                    <input type="submit" class="ui fluid black large submit button" value="Change">
                </div>

                <div class="ui error message"></div>

            </form>
        </div>
    </div>

{% endblock %}